<h1>Here are events going on in your borough!</h1>

<ul>
  <% @nearby_events.each do |event| %>
  <li>
   <%= link_to event.name, event_path(event) %>
  </li>
  <% end %>
</ul>

<%= week_calendar events: @nearby_events do |date, nearby_events| %>
  <%= date %>
  <% nearby_events.each do |nearby_event| %>
	  <div>
	    <%= link_to nearby_event.name, event_path(nearby_event) %>
	  </div><br>
  <% end %>
<% end %>
